#team-members {
  border-collapse: collapse;
  width: 100%;
}

#team-members td, #team-members th {
  border: 1px solid;
  padding: 8px;
}

#team-members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
